@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@keyframes showModal {
    from {
      opacity: 0;
      transform: translateY(-100vh) scale(0.95);
    }

    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
}

@keyframes hideModal {
    from {
      opacity: 1;
      transform: translateY(0) scale(1);
    }

    to {
      opacity: 0;
      transform: translateY(-300vh) scale(0.95);
    }
}